<div class="container">
    <div class="col-sm-3">
        <button type="submit">Enroll</button>
    </div>
    <div class="col-sm-9">
        <h1>{{classes.class_name}}</h1>
        <h2>{{classes.description}}</h2>
    </div>
</div>