<div class="container-dashboard">
        <h1>Teacher Dashboard</h1>
        <div class="welcome">Welcome, {{teacher.name}}!</div>
        <div class="nav-menu">
            <div class="nav-item">
                <a href="/teacher/course">View Courses</a>
            </div>
            <div class="nav-item">
                <a href="/teacher/course/add-course">Add Course</a>
            </div>
            <div class="nav-item">
                <a href="/teacher/management">Management</a>
            </div>
            <div class="nav-item">
                <a href="/teacher/account">Profile</a>
            </div>
        </div>
        <div class="logout">
            <a href="/logout">Logout</a>
        </div>
    </div>